{{#if resume.interests.length}}
<section class="container horizontal">
	<h2>Interests</h2>

	{{#each resume.interests}}
	<article>
		{{#if name}}
		<h3>{{name}}</h3>
		{{/if}}
		{{#if keywords.length}}
		<ul class="element">
			{{#each keywords}}
			<li>{{.}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</article>
	{{/each}}
</section>
{{/if}}