:root {
	--max-page-width: 100%;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	background: none;
	color: black;
}

.resume {
	display: flex;
	flex-flow: column nowrap;
	max-width: var(--max-page-width);
	margin-left: auto;
	margin-right: auto;
	padding: 0 5px;
}

.vertical-section {
	flex: 1 100%;
	display: flex;
	flex-flow: column nowrap;
}

.vertical-section > * {
    margin-bottom: 0;
}

.vertical-element {
    flex: 1 100%;
    margin: 10px 0 0 0;
}

.horizontal-section {
    flex: 1 100%;
    display: flex;
    flex-flow: row wrap;
}

.horizontal-element {
    flex: 1 1 0;
}

@media only screen and (min-width: 960px) {
	:root {
		--max-page-width: 960px;
	}

	.resume {
		padding: 0;
	}
}

@media print {
	body {
		font-family: Georgia, Times, "Times New Roman", serif;
	}

	a:after {
		content: " [" attr(href) "] ";
	}

	.resume {
		padding: 0;
	}
}