:root {
	--max-page-width: 100%;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	background: none;
	color: black;
}

address {
	font-style: normal;
}

h1, h2, h3, ul {
    margin-bottom: 0;
}

a[href^="mailto"]::before {
	content: "\1F4E7 ";
}

a[href^="tel"]::before {
	content: "\1F4DE ";
}

.resume {
	max-width: var(--max-page-width);
	margin-left: auto;
	margin-right: auto;
	padding: 0 5px;
}

.container {
	display: flex;
}

.container.vertical {
	flex-flow: column nowrap;
}

.container.vertical > * {
    flex: 1 100%;
}

.container.horizontal {
	flex-flow: row wrap;
    justify-content: space-between;
}

.container.horizontal > * {
    flex: 1 1 0;
    margin-right: 5px;
}

.element {
    margin-top: 5px;
}

@media only screen and (min-width: 960px) {
	:root {
		--max-page-width: 960px;
	}

	.resume {
		padding: 0;
	}
}

@media print {
	body {
		font-family: Georgia, Times, "Times New Roman", serif;
	}

	.resume {
		padding: 0;
	}

    a[data-print="url"]:after {
        content: " [" attr(href) "] ";
    }
}