:root {
	--max-page-width: 100%;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	background: none;
	color: black;
}

address {
	font-style: normal;
}

h1, h2, h3, ul {
    margin-bottom: 0;
}

a[href^="mailto"]::before {
	content: "\1F4E7 ";
}

a[href^="tel"]::before {
	content: "\1F4DE ";
}

blockquote {
	border-left: solid;
	padding: 5px;
}

.resume {
	max-width: var(--max-page-width);
	margin-left: auto;
	margin-right: auto;
	padding: 0 5px;
}

.container {
	display: flex;
}

.container.vertical {
	flex-flow: column nowrap;
}

.container.vertical > * {
    flex: 1 100%;
}

.container.horizontal,
.container.aside {
	flex-flow: row wrap;
    justify-content: flex-start;
}

.container.horizontal > *,
.container.aside > *{
    flex: 1 1 content;
    margin-right: 20px;
}

.resume > .container.horizontal > .content {
	flex: 1 1 0px;
	min-width: 480px
}

.element {
    margin-top: 5px;
}

.emphasis {
	font-weight: bolder;
}

.round {
	border-radius: 50%;
}

.profile {
	width: 128px;
	height: 128px;
	object-fit: cover;
}

@media only screen and (min-width: 480px) {
	.profile {
		width: 180px;
		height: 180px;
	}
}

@media only screen and (min-width: 960px) {
	:root {
		--max-page-width: 960px;
	}

	.resume {
		padding: 0;
	}

	.container.aside {
		flex-flow: column nowrap;
	}

	.container.aside > * {
		flex: 1 100%;
		margin-right: 0;
	}
}

@media print {
	body {
		font-family: Georgia, Times, "Times New Roman", serif;
	}

	.resume {
		padding: 0;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

    a[data-print="url"]:after {
        content: " [" attr(href) "] ";
    }
}