:root {
	--max-page-width: 100%;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	background: none;
	color: black;
}

.resume {
	display: flex;
	flex-flow: column nowrap;
	max-width: var(--max-page-width);
	margin-left: auto;
	margin-right: auto;
}

.resume-section {
	flex: 1 100%;
}

@media only screen and (min-width: 960px) {
	:root {
		--max-page-width: 960px;
	}
}

@media print {
	body {
		font-family: Georgia, Times, "Times New Roman", serif;
	}

	a:after {
		content: " [" attr(href) "] ";
	}
}
